@import 'partials/utilities/variables';

@import 'partials/base/reset';
@import 'partials/base/typography';

@import 'partials/components/navbar';
@import 'partials/components/logo';
@import 'partials/components/info-section';
@import 'partials/components/products';
@import 'partials/components/form';
@import 'partials/components/footer';

@import 'partials/base/responsive';