@media (max-width: 394px) {
    main {
        margin: 30px 8px;
    }
    form {
        max-width: 314px;
        padding: 18px 4px;
    }
    footer {
        text-align: center;
    }
    .redes {
        justify-content: center;
    }
    .imgfinal img {
        width: 0;
    }
}
@media (min-width: 644px) {
    .list-p {
        transform: scale(1.02);
        padding-bottom: 14px;
        margin-inline: 3.1vw;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 8px 46px;
        img {
            transition: $normal;
            place-self: center;
            width: auto;
            max-height: 140px;
            &:hover {
                transform: scale(1.08);
                outline: solid $border-color 2px;
            }
        }
    }
}
@media (min-width: 992px) {
    body {
        font-size: $s;
    }
    main {
        margin: 36px 20px;
    }
    h1 {
        font-size: $xxxl;
    }
    h2 {
        font-size: $xl;
    }
    h3 {
        font-size: $l;
    }
    .navbar {
        &:hover {
            transition: $normal;
            opacity: 1;
        }
    }
    .logo img {
        width: 152px;
        margin-top: 165px;
    }
    #activo {
        color: $button;
    }
    #ir-a-sdp {
        font-size: $s-v2;
    }
    .list-p {
        margin-inline: 8vw;
    }
    form {
        max-width: 416px;
        padding: 44px;
        label {
            font-size: $s-v2;
        }
    }
    .redes {
        gap: 20px;
        img {
            width: 60px;
        }
    }
    .imgfinal img {
        width: 136px;
    }
}