.sec {
    text-align: center;
    iframe {
        display: inline-block;
        width: 90%;
        max-width: 495px;
    }
    form {
        transition: $normal;
        display: inline-block;
        place-content: center;
        max-width: 368px;
        padding: 26px;
        background-color: $tertiary-color;
        border: solid $border-color 4px;
        border-radius: 8%;
        label {
            font-size: $s;
            padding: 8px;
        }
    }
}